#container{
    margin:70px 10px 10px -283px;
}
#result{
    margin:10px 10px 10px -470px;
}

#table{
    margin:103px 10px 10px 688px;
    border: 2px solid blue;
    text-align: center;
    width: 55%;
  
}
th{
    background-color: blue;
    color:aliceblue;
}


